// Footer
.footer {
  background-color: #1B1B1B;
  padding-top: 108px;
  padding-bottom: 108px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &Logo {
    img {
      width: 250px;
    }
  }
  &R {
    display: flex;
    column-gap: 50px;
  }
  .contacts {
    &Item {
      &Name {
        font-size: 16px;
        margin-bottom: 9px;
      }
      &Link {
        font-size: 19px;
        font-weight: 700;
        color: #39AE68;
        transition: color .2s linear;
        &:hover {
          color: #fff;
        }
      }
    }
  }


  .copyright {
    font-size: 14px;
    margin-top: 16px;
  }
  .socials {
    margin-top: 8px;
    &List {
      column-gap: 10px;
      align-items: center;
    }
  }
}