// Header
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding-top: 35px;
  @media(max-width: 1400px){
    padding-top: 20px;
  }
  &W {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &Logo {
    img {
      @media(max-width: 767px){
        max-width: 150px;
      }
    }
  }
  &Nav {
    @media(max-width: 991px){
      display: none;
      width: 100%;
      position: fixed;
      top: 70px;
      left: 0;
      background-color: #141414;
      z-index: 2;
      padding-bottom: 15px;
      border-bottom: 1px solid #39AE68;
    }
    @media(max-width: 767px){
      top: 60px;
    }
    &.active {
      display: block;
      -webkit-animation: shows 0.5s;
      animation: shows 0.5s;
    }
    &List {
      display: flex;
      column-gap: 30px;
      @media(max-width: 991px){
        flex-direction: column;
        align-items: center;
     
      }
      li {
        a {
          color: #FFF;
          border-bottom: 1px solid transparent;
          padding-bottom: 5px;
          transition: border-color .2s linear, color .2s linear;       
          &:hover {
            color: #39AE68;
            border-color: #39AE68;
          }
        }
      }
    }
  }
  &Phone {
    color: #39AE68;
    font-weight: 700;
    font-size: 19px;
    transition: color .2s linear;
    img {
      width: 27px;
    }
    &:hover {
      color: #fff;
    }
  }
  &Contacts {
    &Name {
      color: #fff;   
      @media(max-width: 767px){
        display: none;
      }
    }
  }
}